<ion-footer collapse="fade">  
  <ion-toolbar>
      <div>
        <div class="horizontal">
          <p class="font-size-16">Prueba desarrollada por Agustín Palavecino</p>
        </div>
        <div class="horizontal">
        <a href="https://agustin-palavecino-portfolio.netlify.app/" target="_blank" class="text-white social-icons">
          Portfolio
        </a>
        <a href="https://www.linkedin.com/in/agustin-adrian-palavecino/" target="_blank" class="text-white social-icons">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="https://github.com/agupalavecino97" target="_blank" class="text-white social-icons">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        </div>
      </div>
  </ion-toolbar>
</ion-footer>
